.card {
	margin: 1em 2em 1em 2em;
	display: block;
	box-shadow: 0px 1.5px 9px 1px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.logo {
	border-radius: 10px;
	background-color: #626262;
	width: 158px;
	height: 158px;
	margin: 30px 0px 30px 0px;
}

.greyText {
	font-size: 17.5;
	color: #b5b5b5;
}

.contentText {
	font-size: 22.5;
	font-weight: bold;
	color: #313131;
}

.link {
	color: #ec6941;
	text-decoration-line: none;
}
